/*DESIGN SYSTEM*/


:root {
    /* colorpalette */
    --beige: #FFF7EF;
    --lyspink: #FFF5F5;
    --pink: #F2D9D9;
    --red: #FF4D00;
    --sort: #000000;
    --hvid: #FFFFFF;
  
    /* ------- header desk ------- */
    --desk-bg-color-header: transparant;
    --link-color: #FF4D00;

    /* ------- fonte defineret ------- */
    --Heebo--: "Heebo", sans-serif;
    --TitilliumRegular--: "TitilliumRegular", sans-serif;
    --TitilliumLight--: "TitilliumLight", sans-serif;
    --TitilliumBold--: "TitilliumBold", sans-serif;

  }

  __________
/* FONTS  LOADED*/
  @font-face {
    font-family: Khmer;
    src: url(/font/KhmerMEF1Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: Heebo;
    src: url(/font/Heebo-VariableFont_wght.woff2) format("woff2");
  }

  @font-face {
    font-family: TitilliumRegular;
    src: url(/font/TitilliumWeb-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: TitilliumLight;
    src: url(/font/TitilliumWeb-Light.woff2) format("woff2");
  }
  
  @font-face {
    font-family: TitilliumBold;
    src: url(/font/TitilliumWeb-SemiBold.woff2) format("woff2");
  }
  



  /*-------------------------------------------- Mobile 390px -----------------------------------------------------*/
  /*-------------------------------------------- Forside-siden -----------------------------------------------------*/

    /* fonte mobile */

    .button_style {
      border: 1px solid #000000;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 22px;
      padding-right: 22px;
      text-align: center;
      font-family: var(--TitilliumRegular--);
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
    }
    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .mixitup-control-active:hover, input:hover {
      cursor: pointer;
    }
    
    /* cursor */
    body {
      cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧶</text></svg>") 16 0,auto; /*!emojicursor.app*/}

  .heading1red {
    font-size: 2rem;
    color: #FF4D00;
    font-family: var(--Heebo--);
    padding-left: 0.2rem;
    padding-left: 0.2rem;

}

.marquee {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.heading3 {
  font-size: 2.4rem;
  color: var(--hvid);
  font-family: var(--Heebo--);
}

.h3_underoverskrift {
  font-size: 1.6rem;
  color: var(--sort);
  font-family: var(--TitilliumLight--);
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}


#nyheder_tekst {
  font-size: 0.9rem;
    color:var(--sort);
    font-family: var(--TitilliumRegular--);
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
}


.h3_underoverskrift_hvid {
  font-size: 1.6rem;
  color: var(--hvid);
  font-family: var(--TitilliumLight--);
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}



.paragraf {
    font-size: 1rem;
    color:var(--sort);
    font-family: var(--TitilliumRegular--);
    letter-spacing: 0.1rem;
}


  .paragraf_topbanner {
    font-size: 0.6rem;
    color:var(--sort);
    font-family: var(--TitilliumRegular--);
    letter-spacing: 0.1rem;
    padding: 0.5rem;

}

.CTA_knap {
  font-size: 1.2rem;
    color:var(--sort);
    font-family: var(--TitilliumRegular--);
    letter-spacing: 0.1rem;
    text-decoration: underline;
}

a:hover, button:hover {
  color: var(--red);
  cursor: pointer;
}

.button_style:hover {
  border: 1px solid var(--red);

}



  /* -------------Menu------------ */


  /* burger menu */
  .logo {
    position: fixed;
    top: 54px;
    left: 20px;
    z-index: 6;
    width: 10rem;
  }

  body .logo > span {
    text-transform: none;
    opacity: 0.5;
    font-weight: 300;
    font-size: 12px;
  }
  body .input_class + .label_class {
    position: fixed;
    top: 61px;
    right: 20px;
    height: 20px;
    width: 15px;
    z-index: 5;
  }
  body .input_class + .label_class span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #020304;
    transition: 0.5s;
  }
  body .input_class + .label_class span:first-child {
    top: 3px;
  }
  body .input_class + .label_class span:last-child {
    top: 16px;
  }
  body .label_class:hover {
    cursor: pointer;
  }
  body .input_class:checked + .label_class span {
    opacity: 0;
    top: 50%;
  }
  body .input_class:checked + .label_class span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  body .input_class:checked + .label_class span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
  body .input_class ~ nav {
    background-color: #ffe5e59c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
  }
  body .input_class ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
  }
  body .input_class ~ nav > ul > li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
  }
  body .input_class ~ nav > ul > li > a {
    text-decoration: none;
    color: #020304;
    font-family: var(--TitilliumRegular--);
    display: block;
    font-size: 1.3rem;
    padding: 1rem;
  }


  body .input_class ~ nav > ul > li > a:hover {
    color: var(--red);
  }



  body .input_class:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
    background-color: #fff5f5e0;
  }
  body .input_class:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
  }




  /* dropdown */


  .dropdown [data-toggle="dropdown"] {
    position: relative;
    display: inline-flex;
    justify-content: center;
    gap: 0.3rem;
    align-items: center;
      }
  
  .dropdown .icon-arrow {
    display: block;
    font-size: 0.7em;
    color: var(--sort);
    

  }

  .dropdown_indeni {
    font-family: var(--TitilliumRegular--);
    font-size: 1.3rem;
  }
  

  .dropdown .icon-arrow.open {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
  }
  .dropdown .icon-arrow.close {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
  }
  .dropdown .icon-arrow:before {
    content: '\25BC';
  }
  .dropdown .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .dropdown .dropdown-menu li {
    padding: 0;
  }
  .dropdown .dropdown-menu li a {
    display: block;
  
  }
 
  .dropdown .show, .dropdown .hide {
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  .dropdown .show {
    display: block;
    max-height: 9999px;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
  }
  .dropdown .hide {
    max-height: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
  }
  
  @keyframes showAnimation {
    0% {
      -moz-transform: scaleY(0.1);
      -ms-transform: scaleY(0.1);
      -webkit-transform: scaleY(0.1);
      transform: scaleY(0.1);
    }
    40% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }
    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }
    80% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }
    100% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }
    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }
    100% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  @-moz-keyframes showAnimation {
    0% {
      -moz-transform: scaleY(0.1);
      -ms-transform: scaleY(0.1);
      -webkit-transform: scaleY(0.1);
      transform: scaleY(0.1);
    }
    40% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }
    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }
    80% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }
    100% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }
    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }
    100% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  @-webkit-keyframes showAnimation {
    0% {
      -moz-transform: scaleY(0.1);
      -ms-transform: scaleY(0.1);
      -webkit-transform: scaleY(0.1);
      transform: scaleY(0.1);
    }
    40% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }
    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }
    80% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }
    100% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }
    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }
    100% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  @keyframes hideAnimation {
    0% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }
    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }
    100% {
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
  }
  @-moz-keyframes hideAnimation {
    0% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }
    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }
    100% {
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
  }
  @-webkit-keyframes hideAnimation {
    0% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }
    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }
    100% {
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
  }





.over_header_banner {
  color: black;
  background-color: #FFF5F5;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 4;
}



.header_background_wrapper {
  background-image: url(/pics/herobillede.webp);
  background-size: cover;
}




  /* hero */

.hero_section {
  height: 20rem;
  width: auto;
  display: grid;
  align-items: center;
  justify-content: center; 
}

.hero_section_wrapper {
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;  
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 3rem;

 }

 #velkommen_tekst {
  text-align: center;
 }

 #CTA_knap {
   margin-top: 2rem;
 }

  /*  section_three */

  #section_three_text {
    padding-top: 1rem;
  }

 #section_three_child {

   padding-left: 0.5rem;
   padding-right: 0.5rem;
   padding-top: 3rem;
   padding-bottom: 3rem;

 }

 #section_three {
  background-color: var(--pink);
 }

 #section_three_pic img {
 max-width: 25rem;
 }
 


   /*  section_four */

#section_four {
background-size: cover;
background-image: url(/pics/frontbutik_forside.webp);
}

#section_four_indhold {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}

.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  
  padding-top: 56.2%;
}
 
iframe {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  
}


/* section_five */

#section_five {
padding-top: 1rem;
}

#section_five_logobanner {
  display: flex;
  gap: 1rem;
}

.img_logo_banner {
  height: 4rem;
}

.container {
  overflow: hidden;
  display: flex;
  margin: 0 auto;
}

.container img {
  animation: slide 15s linear infinite;
}


@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1500px, 0, 0); /* The image width */
  }
}


/* section_six */


#section_six {

  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: block;
  justify-items: center;
}

#section_six_tekstboks {
  display: grid;
justify-items: center;
text-align: center;

padding-top: 2rem;
padding-bottom: 2rem;
}

/* section_seven_nyhedsbrev */

#section_seven_nyhedsbrev {
  background-color: var(--red);
  padding-top: 2rem;
padding-bottom: 2rem;

}
#nyhedsbrev_inderwrapper {

  display: grid;
justify-items: center;
text-align: center;
}


.h3_underoverskrift_nyhedsbrev {
  font-size: 2rem;
  color: var(--hvid);
  font-family: var(--Heebo--);
}

#nyhedsbrev_tekst {
  font-size: 0.9rem;
    color:var(--hvid);
    font-family: var(--TitilliumLight--);
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;

}

/* nyhedsbrev box */
.search-box,.close-icon,.search-wrapper {
	position: relative;
	padding: 10px;
}
.search-wrapper {
	margin: auto;
	margin-top: 1rem;
  display: grid;
  justify-items: center;
text-align: center;
}
#search-box {
	width: 100%;
  border: 1px solid #ffffffb0;
  outline: 0;
  background-color: #ffffff78;

}
.search-box:focus {
	border: 2px solid #ffffff;
}

.search-box:not(:valid) ~ .close-icon {
	display: none;
}

input::placeholder {
  opacity: 1;
  font-size: 0.9rem;
    color:var(--hvid);
    font-family: var(--TitilliumLight--);
    letter-spacing: 0.1rem;
}

.button_style_nyhedsbrev {
  border: 1px solid var(--hvid);
  margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 22px;
      padding-right: 22px;
      text-align: center;
      font-family: var(--TitilliumRegular--);
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
  color: var(--hvid);
  letter-spacing: 0.1rem;
  cursor: pointer;
}

#nyhedsbrev_button_wrapper {
  display: grid;
  justify-content: center;
}

.button_style_nyhedsbrev:hover {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  color: var(--hvid);
}


  /* FOOTER MOBILE*/

  #footer {
    background-color: var(--lyspink);
    padding-left: 1rem;    
    padding-right: 1rem;
padding-top: 2.5rem;
padding-bottom: 2.5rem;
display: grid;
justify-content: center;
align-items: center;

  }


  .footer_text {
    font-size: 0.8rem;
    color:var(--sort);
    font-family: var(--TitilliumLight--);
    letter-spacing: 0.1rem;
    display: inline;
    text-align: center;
    }

.footer_text_nederst {
  padding-top: 1.5rem;
  display: inline;
}


.icon_footer {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  padding-bottom: 1rem;
}
.icon_footer img {
  width: 2rem;
}


/*-------------------------------------------- Garn - siden -----------------------------------------------------*/

/* section et */
/* breadcrumbs */



.breadcrumb {
  color: rgba(128, 128, 128, 0.655);
  font-family: var(--TitilliumLight--);
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  padding-top: 8rem;
}

.hererjeg_breadcrumbs {
  text-decoration: underline;
}


#section_et {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}


/* filtrering */


.button_style_garn {
  border: 1px solid #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
  font-family: var(--TitilliumRegular--);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  width: 100%;
  cursor: pointer;
}

.button_style_garn:hover {
  border: 1px solid var(--red);
}

.garnprodukt_tekst {
  font-family: var(--TitilliumRegular--);
  font-size: 1rem;
  color: var(--red);
}

.plads_soppe {
  padding-bottom: 3rem;
}
.forside_filtrering_allaround_container {
  padding-bottom: 3rem;
}


/*-------------------------------------------- Singleview - siden -----------------------------------------------------*/

/* fonte */

.navn_garn { 
  font-family: var(--TitilliumRegular--);
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  color: var(--red);
  padding-top: 0.4rem;
}

.pris_garn {
  font-family: var(--TitilliumRegular--);
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  padding-top: 0.2rem;
}


.info_garn {
  font-family: var(--TitilliumLight--);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding-top: 0.5rem;
}

.infoinfo {
  padding-top: 0.7rem;
}

.button_single {
  margin-top: 2rem;
}

.footer_singleview {
  margin-top: 5rem;
}


/* popup farvemuligheder */

.popup_overskriftgarn {
  font-family: var(--TitilliumRegular--);
  color: var(--red);
  font-size: 2rem;
}

.close-button-singleview {
  width: 2rem;
}

.popup_underoverskriftgarn {
  font-family: var(--TitilliumRegular--);
  font-size: 1.2rem;
  padding-bottom: 1.3rem;
}

/*-------------------------------------------- Vores historie - siden -----------------------------------------------------*/

/* section et */
/* breadcrumbs */


/* section et et */
.voreshistorie_overskrift {
  color: var(--red);
  font-size: 1.7rem;
  font-family: var(--TitilliumRegular--);

}

.voreshistorie_section1_wrapper {
  display: flex;
  gap: 1rem;
}

.voreshistorie_section1_wrapper img {
  width: 12rem;
}

.voreshistorie_section1_wrapperwrapper {
  padding-top: 1rem;
  display: flex;
  justify-content: right;
}

.voreshistorie_section1_wrapperwrapper img {
width: 20rem;
}

#section_etetet {
  display: none;
}

#section_etet {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2rem;
}


/* section toto  */
#section_toto {
  padding-top: 2rem;
}


/* section tretre  */
#sectiontretre {
  background-color: var(--beige);
  display: flex;
  justify-content: center;
 align-items: center;
 padding-left: 1rem;
 padding-right: 1rem;
 padding-top: 1.5rem;
 padding-bottom: 1.5rem;
}

.paragraf_voreshistorie {
  color: var(--red);
  font-family: var(--TitilliumLight--);
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

/* section fire fire  */

#section_firefire {
  display: block;
  justify-content: center;
 align-items: center;
 padding-left: 1rem;
 padding-right: 1rem;
 padding-top: 1.5rem;
 padding-bottom: 1.5rem;
}

.paragraf_voreshistoriesectionfire {
  padding-top: 1rem;
}

/* section fem fem  */

/* section sekseks */

#section_seksseks {
  padding-left: 1rem;;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  text-align: center;
}

.voreshistorie_h2 {
  color: var(--red);
  font-size: 1.5rem;
  font-family: var(--TitilliumRegular--);
}



  /*-------------------------------------------- Kontakt os-siden -----------------------------------------------------*/




/* nyhedsbrev box */
 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid var(--sort); /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.kontaktformular input::placeholder {
  opacity: 1;
  font-size: 0.9rem;
  color: rgba(128, 128, 128, 0.775);
    font-family: var(--TitilliumLight--);
    letter-spacing: 0.1rem;
}

.kontaktformular textarea::placeholder {
  opacity: 1;
  font-size: 0.9rem;
  color: rgba(128, 128, 128, 0.775);
    font-family: var(--TitilliumLight--);
    letter-spacing: 0.1rem;
}



/* Style the submit button with a specific background color etc */
input[type=submit] {

      border: 1px solid #000000;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 22px;
      padding-right: 22px;
      text-align: center;
      font-family: var(--TitilliumRegular--);
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
      cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  color: var(--link-color);
  border: 1px solid var(--red)
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
  display: block;
  justify-content: center;
  text-align: center;
} 


/* section 11 */

#section11 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

/* section 22 */

#section22{
display: flex;
text-align: center;
padding-top: 1rem;
padding-left: 1rem;
padding-right: 1rem;
padding-bottom: 3rem;

}

.nyhedsbrev_tekst_kontakt {
  font-size: 0.9rem;
    color:var(--sort);
    font-family: var(--TitilliumLight--);
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;

}





  /*-------------------------------------------- MEDIA IPAD 810px -----------------------------------------------------*/
  /*-------------------------------------------- Forside-siden -----------------------------------------------------*/

  @media (min-width: 700px) {

    /* fonte mobile */

.marquee {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.paragraf {
    font-size: 1.3rem;
   
    letter-spacing: 0.15rem;
    width: 36rem;
}

.CTA_knap {
  font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-decoration: underline;
}



  /* ---Menu---- */


  .logo {
    
    top: 40px;
    left: 20px;
    
  }
  body .input_class + .label_class {
    top: 56px;
    right: 40px !important;
    height: 19px;
    width: 20px;
  
  }


  




.logo_wrapper {
display: flex;
}

.logo {
  width: 15rem;
  padding-left: 1rem
}


  /* hero */

.hero_section_wrapper {
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;  
  padding-left: 1rem; 
  padding-right: 1rem; 

 }

 

  /*  section_three */

  #section_three_text {
    padding-top: 0;

  }

  #section_three_child {
    display: flex;
    gap: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    
  }

 #section_three {
   display: flex;
   gap: 1rem;
   padding-right: 3rem;
   padding-left: 3rem;
   

 }

 .button_nyheder {
   margin-top: 2rem;
 }

 #nyheder_tekst {
   text-align: justify;
   padding-top: 2rem;
 }

 .heading1red {
  font-size: 3rem;

  padding-left: 0.2rem;
  padding-left: 0.2rem;

}

.heading3 {
  font-size: 3rem;
  color: var(--hvid);
  font-family: var(--Heebo--);
}


   /*  section_four */



#section_four_indhold {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;

}

/* section_five */

#section_five {
padding-top: 1rem;
padding-bottom: 1rem;

}

#section_five_logobanner {
  
  gap: 2rem;
}

.img_logo_banner {
  height: 5rem;
}



@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1500px, 0, 0); /* The image width */
  }
}


/* section_six */


#section_six {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

#section_six_tekstboks {
  display: grid;
justify-items: center;
text-align: center;
padding-top: 2rem;
padding-bottom: 2rem;
width: 19rem;
}

.section_six_img img {
  width: 15rem;
}

/* section_seven_nyhedsbrev */

#section_seven_nyhedsbrev {
  padding-top: 3rem;
padding-bottom: 3rem;

}



.h3_underoverskrift_nyhedsbrev {
  font-size: 2rem;
  color: var(--hvid);
  font-family: var(--Heebo--);
}

#nyhedsbrev_tekst {
  width: 40rem;
    margin-top: 0.5rem;

}


.search-box {
	width: 30rem;
  border: 1px solid #ffffffb0;
  outline: 0;
  background-color: #ffffff78;

}


#nyhedsbrev_button_wrapper {
  display: grid;
  justify-content: center;
  padding-top: 0.5rem
}




  /* FOOTER MOBILE*/

  #footer {
    background-color: var(--lyspink);
    padding-left: 1rem;    
    padding-right: 1rem;
padding-top: 2.5rem;
padding-bottom: 2.5rem;


  }

  

  .footer_text {
    font-size: 0.8rem;
    color:var(--sort);
    font-family: var(--TitilliumLight--);
    letter-spacing: 0.1rem;
  
}


  

/*-------------------------------------------- Garn - siden -----------------------------------------------------*/

/* section et */
/* breadcrumbs */



.breadcrumb {
  color: rgba(128, 128, 128, 0.655);
  font-family: var(--TitilliumLight--);
  font-size: 1.1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  padding-top: 5rem;
}





/* filtrering */


.button_style_garn {
  border: 1px solid #000000;
  margin-top: 15px;
  margin-bottom: 9px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
  font-family: var(--TitilliumRegular--);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  width: 100%;
  
}



.garnprodukt_tekst {
  font-family: var(--TitilliumRegular--);
  font-size: 1.3rem;
  color: var(--red);
}




/*-------------------------------------------- Singleview - siden -----------------------------------------------------*/

/* fonte */

.navn_garn { 
  font-family: var(--TitilliumRegular--);
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  color: var(--red);
  padding-top: 0;
}


.button_single {
  margin-top: 0.5rem;
}


/*-------------------------------------------- Vores historie - siden -----------------------------------------------------*/

/* section et */
/* breadcrumbs */


/* section et et */
.voreshistorie_overskrift {
  color: var(--red);
  font-size: 2rem;
  font-family: var(--TitilliumRegular--);

}


.voreshistorie_section1_wrapper {
  display: flex;
  gap: 2rem;
}

.voreshistorie_section1_wrapper img {
  width: 20rem;
}

.voreshistorie_section1_wrapperwrapper {
  padding-bottom: -20rem;
  display: flex;
  justify-content: right;
}

#section_etet {
  display: none;
}
#section_etetet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 180px 180px 180px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
}

.voreshistorie_overskrift_grid {
  grid-column-start: 3;
  grid-column-end: 6;
}

.voreshistorie_img_grid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: 2rem;
}

.voreshistorie_img_grid2 {
  grid-column-start: 3;
  grid-column-end: 6;
  padding-left: 2rem;
}



/* section toto  */
#section_toto {
  padding-top: 0;
}


/* section tretre  */
#sectiontretre {
  background-color: var(--beige);
  display: flex;
  justify-content: center;
 align-items: center;
 padding-left: 3rem;
 padding-right: 3rem;
 padding-top: 3rem;
 padding-bottom: 3rem;

}

.paragraf_voreshistorie {
  color: var(--red);
  font-family: var(--TitilliumLight--);
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
}

/* section fire fire  */

#section_firefire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
 align-items: center;
 padding-left: 1rem;
 padding-right: 1rem;
 padding-top: 1.5rem;
 padding-bottom: 1.5rem;
}

.paragraf_voreshistoriesectionfire {
  padding-top: 0;
  padding-left: 1.5rem;
}

/* section fem fem  */

/* section sekseks */

#section_seksseks {
  padding-left: 1rem;;
  padding-right: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: block;
  text-align: center;
}

.voreshistorie_h2 {
  color: var(--red);
  font-size: 2rem;
  font-family: var(--TitilliumRegular--);
}

/*-------------------------------------------- Kontakt os-siden -----------------------------------------------------*/


/* nyhedsbrev box */
 /* Style inputs with type="text", select elements and textareas */
 .kontaktformular input[type=text], select, textarea {
  width: 80%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid var(--sort); /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


.kontaktformular {
  display: block;
  justify-content: center;
  align-items: center;
}

/* section 22 */
#section22{
display: flex;
text-align: center;
padding-top: 1rem;
padding-left: 1rem;
padding-right: 1rem;
}

.nyhedsbrev_tekst_kontakt a:hover {
  color: var(--red)
}

}

  /*-------------------------------------------- MEDIA SCREEN 1024px -----------------------------------------------------*/
  /*-------------------------------------------- Forside-siden -----------------------------------------------------*/

  @media (min-width: 1024px) {

    /* fonte mobile */

.marquee {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.paragraf {
    font-size: 1.3rem;
   
    letter-spacing: 0.15rem;
    width: 36rem;
}


.CTA_knap {
  font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-decoration: underline;
}

.breadcrumb {
  padding-top: 9rem !important;
}

  /* ---Menu---- */

  body .input_class + .label_class {
   
    right: 50px !important;
    width: 25px;
  
  }

.paragraf_topbanner {
  font-size: 0.7rem;
  padding: 0;

}
.over_header_banner {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}


  /* hero */

.hero_section {
  height: 40rem;
  width: auto;
  display: grid;
  align-items: center;
  justify-content: center; 
}

.hero_section_wrapper {
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;  
  padding-left: 1rem; 
  padding-right: 1rem; 

 }

 .paragraf {
  font-size: 2rem;
  color:var(--sort);
  font-family: var(--TitilliumLight--);
  letter-spacing: 0.1rem;
}

.marquee {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.heading1red {
  font-size: 4rem;
}

  /*  section_three */

  #section_three_text {
    padding-top: 0;
  }

  #section_three_child {
    display: flex;
    gap: 1.4rem;
    padding-right: 3rem;
    padding-left: 3rem;
  justify-content: center;
  }

  .section_three_pic {
    max-width: 25rem;
  }

 .button_nyheder {
   margin-top: 2rem;
 }


 #nyheder_tekst {
   text-align: justify;
   padding-top: 2rem;
 }


/* section_five */

#section_five {
padding-top: 1rem;
padding-bottom: 1rem;
}

#section_five_logobanner {
  gap: 5rem;
}

.img_logo_banner {
  height: 6rem;
}


@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1500px, 0, 0); /* The image width */
  }
}


/* section_six */

#section_six {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#section_six_tekstboks {
  display: grid;
justify-items: center;
text-align: center;
padding-top: 2rem;
padding-bottom: 2rem;
}

.section_six_img img {
  width: 20rem;
}

/* section_seven_nyhedsbrev */

#section_seven_nyhedsbrev {
  padding-top: 4rem;
padding-bottom: 4rem;
}

.h3_underoverskrift_nyhedsbrev {
  font-size: 2.5rem;
  color: var(--hvid);
  font-family: var(--Heebo--);
}

#nyhedsbrev_tekst {
  width: 40rem;
    margin-top: 0.5rem;
}

.search-box {
	width: 40rem;
  border: 1px solid #ffffffb0;
  outline: 0;
  background-color: #ffffff78;
}

#nyhedsbrev_button_wrapper {
  display: grid;
  justify-content: center;
  padding-top: 0.5rem
}


  /* FOOTER MOBILE*/

  .footer_text {
    font-size: 0.8rem;
    color:var(--sort);
    font-family: var(--TitilliumLight--);
    letter-spacing: 0.1rem;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

.footer_text_nederst {
  padding-top: 1.5rem;
}


/*-------------------------------------------- Garn - siden -----------------------------------------------------*/

/* section et */
/* breadcrumbs */

.breadcrumb {
  color: rgba(128, 128, 128, 0.655);
  font-family: var(--TitilliumLight--);
  font-size: 1.1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-top: 5rem;
}

/* filtrering */
.button_style_garn {
  border: 1px solid #000000;
  margin-top: 15px;
  margin-bottom: 9px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
  font-family: var(--TitilliumRegular--);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  width: 100%;
}

.garnprodukt_tekst {
  font-size: 1.2rem;
}

.plads_soppe_denher {
  padding-top: 0;
}


  /*-------------------------------------------- Singleview - siden -----------------------------------------------------*/

/* fonte */

.navn_garn { 
  font-size: 2rem;
  letter-spacing: 0.3rem;
  padding-right: 2rem;
}

.pris_garn {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  padding-top: 0.2rem;
}

.info_garn {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding-top: 0.8rem;
}

/*-------------------------------------------- Vores historie - siden -----------------------------------------------------*/

/* section et */
/* breadcrumbs */

/* section et et */
.voreshistorie_overskrift {
  color: var(--red);
  font-size: 3rem;
  font-family: var(--TitilliumRegular--);
}

.voreshistorie_section1_wrapper {
  display: flex;
  gap: 2rem;
}

.voreshistorie_section1_wrapper img {
  width: 20rem;
}

.voreshistorie_section1_wrapperwrapper {
  padding-bottom: -20rem;
  display: flex;
  justify-content: right;
}

#section_etet {
  display: none;
}

#section_etetet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 180px 180px 180px 180px 100px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
}

.voreshistorie_overskrift_grid {
  grid-column-start: 3;
  grid-column-end: 6;
}

.voreshistorie_img_grid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: 2rem;
}

.voreshistorie_img_grid2 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  padding-left: 2rem;
}

/* section toto  */
#section_toto {
  padding-top: 0;
}

/* section tretre  */
#sectiontretre {
  background-color: var(--beige);
  display: flex;
  justify-content: center;
 align-items: center;
 padding-left: 5rem;
 padding-right: 5rem;
 padding-top: 4rem;
 padding-bottom: 4rem;
}

.paragraf_voreshistorie {
  color: var(--red);
  font-family: var(--TitilliumLight--);
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

/* section fire fire  */

#section_firefire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
 align-items: center;
 padding-left: 3rem;
 padding-right: 3rem;
 padding-top: 3rem;
 padding-bottom: 3rem;
}

.paragraf_voreshistoriesectionfire {
  padding-top: 0;
  padding-left: 2rem;
}

/* section sekseks */

#section_seksseks {
  padding-left: 1rem;;
  padding-right: 1rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  display: block;
  text-align: center;
}

.voreshistorie_h2 {
  color: var(--red);
  font-size: 2.8rem;
  font-family: var(--TitilliumRegular--);
}


/*-------------------------------------------- Kontakt os-siden -----------------------------------------------------*/


/* nyhedsbrev box */
 /* Style inputs with type="text", select elements and textareas */
 .kontaktformular input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid var(--sort); /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.kontaktformular {
  display: block;
  justify-content: center;
  align-items: center;
}

#kontakt_article {
  padding-left: 5rem;
  padding-right: 5rem;
}

#section22{
display: flex;
text-align: center;
justify-content: center;
padding-top: 1rem;
padding-left: 1rem;
padding-right: 1rem;
}

.nyhedsbrev_tekst_kontakt {
  font-size: 0.9rem;
    color:var(--sort);
    font-family: var(--TitilliumLight--);
    letter-spacing: 0.1rem;
    margin-top: 1rem;
}



}



/*-------------------------------------------- MEDIA SCREEN 1280px -----------------------------------------------------*/
  /*-------------------------------------------- Forside-siden -----------------------------------------------------*/

  @media (min-width: 1280px) {


    .breadcrumb {
      padding-top: 10rem !important;
    }

    /* fonte mobile */

    .button_style {
      border: 1px solid #000000;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 22px;
      padding-right: 22px;
      text-align: center;
      font-family: var(--TitilliumRegular--);
      font-size: 1.3rem;
      letter-spacing: 0.3rem;
    }

    .button_style_nyhedsbrev {
      border: 1px solid var(--hvid);
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 22px;
      padding-right: 22px;
      text-align: center;
      font-family: var(--TitilliumRegular--);
      font-size: 1.3rem;
      letter-spacing: 0.3rem;
      color: var(--hvid);
    }

  .heading1red {
    font-size: 5rem !important;
    color: #FF4D00;
    font-family: var(--Heebo--);
    padding-left: 0.2rem;
    padding-left: 0.2rem;
  }

.marquee {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.h3_underoverskrift {
  font-size: 2rem;
  color: var(--sort);
  font-family: var(--TitilliumLight--);
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}

.paragraf {
    font-size: 2.2rem !important;
   font-family: var(--TitilliumLight--) !important;
    letter-spacing: 0.3rem !important;
    width: 50rem !important;
}

.paragraf_topbanner {
font-size: 0.9rem !important;
}

.CTA_knap {
  font-size: 2rem !important;
    letter-spacing: 0.3rem !important;
}

  /* ---Menu---- */

  body .input_class + .label_class {
   
    right: 60px !important;
    width: 25px;
    top: 59px !important;
  }

  .logo {
    top: 44px !important;
    width: 15rem;
    padding-left: 1rem;
  }

.paragraf_topbanner {
  font-size: 0.7rem;
  padding: 0;
}

.over_header_banner {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.menuen_wrapper {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.menumenu {
  padding-right: 4rem;
  display: flex;
}

.menuknap {
  font-size: 1.1rem
}

  /* hero */

.hero_section {
  height: 40rem;
  width: auto;
  display: grid;
  align-items: center;
  justify-content: center; 
}

.hero_section_wrapper {
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;  
  padding-left: 1rem; 
  padding-right: 1rem; 
 }

 .paragraf {
  font-size: 2rem;
  color:var(--sort);
  font-family: var(--TitilliumLight--);
  letter-spacing: 0.1rem;
}

 .CTA_knap {
  font-size: 2rem;
    color:var(--sort);
    font-family: var(--TitilliumRegular--);
    letter-spacing: 0.3rem;
}

.marquee {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.heading1red {
  font-size: 4rem;
}

  /*  section_three */

  #section_three_text {
    padding-top: 0;
    width: 55rem;
  }

  #section_three_child {
    display: flex;
    gap: 3rem;
    padding-right: 0rem;
    padding-left: 0rem;
    width: 55rem;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  }

 .button_nyheder {
   margin-top: 2rem;
 }
 
 #nyheder_tekst {
   text-align: justify;
   padding-top: 2rem;
 }

 #section_three {
   justify-content: center;
 }

 .heading3 {
   font-size: 3.5rem;
 }
 

   /*  section_four */

#section_four_indhold {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 5.6rem;
  padding-right: 5.6rem;
}

/* section_five */

#section_five {
padding-top: 1.4rem;
padding-bottom: 1rem;
}

#section_five_logobanner {
  gap: 6rem;
}

.img_logo_banner {
  height: 7rem;
}

/* section_six */

#section_six {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

#section_six_tekstboks {
  display: grid;
justify-items: center;
text-align: center;
padding-top: 2rem;
padding-bottom: 2rem;
padding-left: 2rem;
padding-right: 2rem;
}

.section_six_img img {
  width: 30rem;
}

/* section_seven_nyhedsbrev */

#section_seven_nyhedsbrev {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.h3_underoverskrift_nyhedsbrev {
  font-size: 4rem;
  color: var(--hvid);
  font-family: var(--Heebo--);
}

#nyhedsbrev_tekst {
  width: 40rem;
    margin-top: 0.5rem;
}

.search-box {
	width: 50rem;
  border: 1px solid #ffffffb0;
  outline: 0;
  background-color: #ffffff78;
}

#nyhedsbrev_button_wrapper {
  display: grid;
  justify-content: center;
  padding-top: 0.5rem
}



  /* FOOTER MOBILE*/

  .footer_text {
    font-size: 0.8rem;
    color:var(--sort);
    font-family: var(--TitilliumLight--);
    letter-spacing: 0.1rem;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.footer_text_nederst {
  padding-top: 1.5rem;
}


/*-------------------------------------------- Garn - siden -----------------------------------------------------*/

/* section et */
/* breadcrumbs */

.breadcrumb {
  font-size: 1.2rem;
  padding-top: 7rem;
}

/* filtrering */

.button_style_garn {
  border: 1px solid #000000;
  margin-top: 15px;
  margin-bottom: 9px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
  font-family: var(--TitilliumRegular--);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  width: 100%;
}

.garnprodukt_tekst {
  font-size: 1.2rem;
}

.plads_soppe_denher {
  padding-top: 0;
}


/*-------------------------------------------- Singleview - siden -----------------------------------------------------*/

/* fonte */

.navn_garn { 
  font-size: 2rem;
  letter-spacing: 0.3rem;
  padding-right: 2rem;
}

.pris_garn {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  padding-top: 0.2rem;
}


.info_garn {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding-top: 0.8rem;
}

.button_single {
  margin-top: 1.3rem;
}


/*-------------------------------------------- Vores historie - siden -----------------------------------------------------*/

/* section et */
/* breadcrumbs */


/* section et et */
.voreshistorie_overskrift {
  color: var(--red);
  font-size: 3rem;
  font-family: var(--TitilliumRegular--);
}


.voreshistorie_section1_wrapper {
  display: flex;
  gap: 2rem;
}

.voreshistorie_section1_wrapper img {
  width: 20rem;
}

.voreshistorie_section1_wrapperwrapper {
  padding-bottom: -20rem;
  display: flex;
  justify-content: right;
}

#section_etet {
  display: none;
}
#section_etetet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 180px 180px 180px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 4rem;
}

.voreshistorie_overskrift_grid {
  grid-column-start: 3;
  grid-column-end: 6;
}

.voreshistorie_img_grid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: 2rem;
}

.voreshistorie_img_grid2 {
  grid-column-start: 3;
  grid-column-end: 6;
  padding-left: 2rem;
}



/* section toto  */
#section_toto {
  padding-top: 4rem;
}

/* section tretre  */
#sectiontretre {
  background-color: var(--beige);
  display: flex;
  justify-content: center;
 align-items: center;
 padding-left: 6rem;
 padding-right: 6rem;
 padding-top: 3rem;
 padding-bottom: 3rem;
}

.paragraf_voreshistorie {
  color: var(--red);
  font-family: var(--TitilliumLight--);
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
}

/* section fire fire  */

#section_firefire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
 align-items: center;
 padding-left: 6rem;
 padding-right: 6rem;
 padding-top: 5rem;
 padding-bottom: 5rem;
 gap: 2rem;
}

.paragraf_voreshistoriesectionfire {
  padding-top: 0;
  padding-left: 1.5rem;
}

/* section sekseks */

#section_seksseks {
  padding-left: 1rem;;
  padding-right: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: block;
  text-align: center;
}

.voreshistorie_h2 {
  color: var(--red);
  font-size: 3rem;
  font-family: var(--TitilliumRegular--);
}


/*-------------------------------------------- Kontakt os-siden -----------------------------------------------------*/


/* nyhedsbrev box */

#kontakt_article {
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 2rem;
}

/* section 1 */

#section22{
display: flex;
text-align: center;
justify-content: center;
padding-top: 1rem;
padding-left: 1rem;
padding-right: 1rem;
}

  }



  /*-------------------------------------------- MEDIA SCREEN 1280px -----------------------------------------------------*/
  /*-------------------------------------------- Forside-siden -----------------------------------------------------*/

  @media (min-width: 1400px) {

    /*-------------------------------------------- Garn - siden -----------------------------------------------------*/

/* section et */
/* breadcrumbs */

    .breadcrumb {
      font-size: 1.2rem;
      padding-top: 10rem;
    }

    .garnprodukt_tekst {
      font-size: 1.5rem;
    }

    .forside_filtrering_allaround_container {
      padding-bottom: 5rem;
    }

    .breadcrumb_singleview {
      padding-top: 6rem;
    }

/* menu */

    body .input_class + .label_class {
      right: 70px !important;
      width: 30px;
      top: 59px !important;
    }
  
    .logo {
      top: 44px !important;
      width: 15rem;
      padding-left: 1rem;
    }



/*-------------------------------------------- Singleview - siden -----------------------------------------------------*/

/* fonte */

.navn_garn { 
  font-size: 2.4rem;
  letter-spacing: 0.3rem;
  padding-right: 2rem;
}

.pris_garn {
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
  padding-top: 0.2rem;
}

.info_garn {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding-top: 0.8rem;
}

.button_single {
  margin-top: 1.3rem;
}

/*-------------------------------------------- Vores historie - siden -----------------------------------------------------*/

/* section et */
/* breadcrumbs */

.breadcrumb_voreshistorie {
  padding-top: 6rem;
}

/* section et et */
.voreshistorie_overskrift {
  color: var(--red);
  font-size: 3.6rem;
  font-family: var(--TitilliumRegular--);
}


.voreshistorie_section1_wrapper {
  display: flex;
  gap: 2rem;
}

.voreshistorie_section1_wrapper img {
  width: 20rem;
}

.voreshistorie_section1_wrapperwrapper {
  padding-bottom: -20rem;
  display: flex;
  justify-content: right;
}

#section_etet {
  display: none;
}

#section_etetet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 180px 180px 180px;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 4rem;
}

.voreshistorie_overskrift_grid {
  grid-column-start: 3;
  grid-column-end: 6;
}

.voreshistorie_img_grid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: 2rem;
}

.voreshistorie_img_grid2 {
  grid-column-start: 3;
  grid-column-end: 6;
  padding-left: 2rem;
}

/* section toto  */
#section_toto {
  padding-top: 5rem;
}

/* section tretre  */
#sectiontretre {
  background-color: var(--beige);
  display: flex;
  justify-content: center;
 align-items: center;
 padding-left: 6rem;
 padding-right: 6rem;
 padding-top: 3rem;
 padding-bottom: 3rem;
}

.paragraf_voreshistorie {
  color: var(--red);
  font-family: var(--TitilliumLight--);
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
}

/* section fire fire  */

#section_firefire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
 align-items: center;
 padding-left: 8rem;
 padding-right: 8rem;
 padding-top: 5rem;
 padding-bottom: 5rem;
 gap: 2rem;
}

.paragraf_voreshistoriesectionfire {
  padding-top: 0;
  padding-left: 1.5rem;
}

/* section sekseks */

#section_seksseks {
  padding-left: 1rem;;
  padding-right: 1rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  display: block;
  text-align: center;
}

.voreshistorie_h2 {
  color: var(--red);
  font-size: 3.5rem;
  font-family: var(--TitilliumRegular--);
}


/*-------------------------------------------- Kontakt os-siden -----------------------------------------------------*/

/* nyhedsbrev box */

#kontakt_article {
  padding-left: 21rem;
  padding-right: 21rem;
  padding-top: 2rem;
}

/* section 2 */


#section22{
padding-bottom: 3rem;
}
  }

  @media (min-width: 1500px) {

    #section_toto, #section_femfem {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }