/*DESIGN SYSTEM*/

:root {
    /* colorpalette */
    --beige: #FFF7EF;
    --lyspink: #FFF5F5;
    --pink: #EED6D6;
    --red: #FF4D00;
    --sort: #000000;
    --hvid: #FFFFFF;
  
    /* ------- header desk ------- */
    --desk-bg-color-header: transparant;
    --link-color: #FF4D00;

    /* ------- fonte defineret ------- */
    --Heebo--: "Heebo", sans-serif;
    --TitilliumRegular--: "TitilliumRegular", sans-serif;
    --TitilliumLight--: "TitilliumLight", sans-serif;
    --TitilliumBold--: "TitilliumBold", sans-serif;

  }

  __________
/* FONTS  LOADED*/
  @font-face {
    font-family: Khmer;
    src: url(/font/KhmerMEF1Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: Heebo;
    src: url(/font/Heebo-VariableFont_wght.woff2) format("woff2");
  }

  @font-face {
    font-family: TitilliumRegular;
    src: url(/font/TitilliumWeb-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: TitilliumLight;
    src: url(/font/TitilliumWeb-Light.woff2) format("woff2");
  }
  
  @font-face {
    font-family: TitilliumBold;
    src: url(/font/TitilliumWeb-SemiBold.woff2) format("woff2");
  }
  

  





/* _________________ MOBILE  390PX */
  /* -------FORSIDE-------- */

    /* fonte mobile */



  .heading1red {
    font-size: 2rem;
    color: #FF4D00;
    font-family: var(--Heebo--);
    padding-left: 0.2rem;
    padding-left: 0.2rem;

}


.heading1red_animation {
  
}

.heading2 {
  font-size: 4.375rem;
  color: var(--sort);
  font-family: var(--Heebo--);
}




.paragraf {
    font-size: 1rem;
    color:var(--sort);
    font-family: var(--TitilliumRegular--);
    letter-spacing: 0.1rem;
}


  .paragraf_topbanner {
    font-size: 0.6rem;
    color:var(--sort);
    font-family: var(--TitilliumRegular--);
    letter-spacing: 0.1rem;
    padding: 0.5rem;

}

.CTA_tekst {
  font-size: 1.2rem;
    color:var(--sort);
    font-family: var(--TitilliumRegular--);
    letter-spacing: 0.1rem;
    text-decoration: underline;
    text-shadow: 2px 2px rgba(199, 199, 199, 0.813);
}



  /* ---Menu---- */

.logo_wrapper {
display: flex;
place-content: center;
padding-top: 0.2rem;
padding-bottom: 0.5rem;
}

.logo {
  width: 10rem;
}


.over_header_banner {
  color: black;
  background-color: #EED6D6;
  display: flex;
  justify-content: center;
}

.menuknap {
  font-size: 0.9rem;
  color:var(--sort);
  font-family: var(--TitilliumRegular--);
  letter-spacing: 0.1rem;
}

.menuen {
  padding-bottom: 0.5rem;
  display: block;
  justify-content: center;
}

.menumenu {
  justify-content: center;
}

.header_background_wrapper {
  background-image: url(/pics/Skærmbillede\ 2022-11-28\ kl.\ 19.35.25.png);
}


.menuen_wrapper {
  background-color: #ffe5e55c;
}


  /* hero */

.hero_section {
  height: 20rem;
  width: auto;
  display: grid;
  align-items: center;
  justify-content: center; 
}

.hero_section_wrapper {
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;  
  padding-left: 1rem; 
  padding-right: 1rem; 

 }

 #velkommen_tekst {
  text-align: center;
 }

 #CTA_knap {
   margin-top: 2rem;
 }












